h2, h3 {
    letter-spacing: 0.25em;
    text-transform: uppercase;
    font-weight: 600;
}

p {
    line-height: 1.6em;
}

.content {
   margin: 0 auto;
}

.memory {
   text-align: center;
   width: 100%
   max-width: 980px;
   margin: 0 auto;
}

.footer {
   text-align: center;
   width: 100%;
   max-width: 980px;
   margin: 0 auto;
   clear: both;
}

div.board {
  max-width: 80%;
  height: 600px;
  margin: 0 auto;
}

div.board span {
  display:table-cell;
  vertical-align:middle;
}

.board div {
  width: 100px;
  height: 100px;
  outline: 1px dotted;
  margin: 10px;
  float: left;
  text-align: center;
  display:table;
}

div.hidden-card:hover {
  outline: 1px solid;
  cursor: pointer
}

div.shown-card {
  outline: 2px solid;
}

div.found-card {
  background-color: black;
  outline: 1px solid;
}

