h2, h3 {
    letter-spacing: 0.25em;
    text-transform: uppercase;
    font-weight: 600;
}

p {
    line-height: 1.6em;
}

.content {
   margin: 0 auto;
}

.memory {
   text-align: center;
   width: 100%
   max-width: 980px;
   margin: 0 auto;
}

.footer {
   text-align: center;
   width: 100%;
   max-width: 980px;
   margin: 0 auto;
   clear: both;
}

div.board {
  max-width: 50%;
  margin: 0 auto;
}

div.board span {
  display:table-cell;
  vertical-align:middle;
}

.board div {
  width: 100px;
  height: 100px;
  outline: 1px solid #ddd;
  margin: 10px;
  float: left;
  text-align: center;
  display:table;
}

div.hidden-card:hover {
  outline: 1px solid #000;
  cursor: pointer
}


div.shown-card {
  outline: 2px solid;
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

div.shown-card span {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;

}

div.found-card {
  outline: 2px solid;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;

    -webkit-animation-name: shake;
  animation-name: shake;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

/* animations */
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
            transform: scale3d(1.05, 1.05, 1.05);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }

  100% {
      background-color: black;
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-5px, 0, 0);
            transform: translate3d(-5px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(5px, 0, 0);
            transform: translate3d(5px, 0, 0);
  }
}

@keyframes shake {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }

  100% {
      background-color: black;
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-5px, 0, 0);
            transform: translate3d(-5px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(5px, 0, 0);
            transform: translate3d(5px, 0, 0);
  }
}
